<div class="col-md-6 col-lg-4">
    <div class="pl-20 pl-md-0">
        <div>
            <img src="//adi.admicro.vn/adt/adn/2018/09/bb4-adx5b98ea36aed1d.gif" alt="Alternate Text" />
            <img src="//adi.admicro.vn/adt/adn/2018/09/ldn-3-adx5b9b79af4615f.jpg" alt="Alternate Text" />
            @*<h4 class="p-title"><b>POPULAR POSTS</b></h4>
            <a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
                <div class="wh-100x abs-tlr"><img src="images/polular-1-100x100.jpg" alt=""></div>
                <div class="ml-120 min-h-100x">
                    <h5><b>Bitcoin Billionares Hidding in Plain Sight</b></h5>
                    <h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile Palmer,</b></span> Jan 25, 2018</h6>
                </div>
            </a><!-- oflow-hidden -->

            <a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
                <div class="wh-100x abs-tlr"><img src="images/polular-2-100x100.jpg" alt=""></div>
                <div class="ml-120 min-h-100x">
                    <h5><b>Bitcoin Billionares Hidding in Plain Sight</b></h5>
                    <h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile Palmer,</b></span> Jan 25, 2018</h6>
                </div>
            </a><!-- oflow-hidden -->

            <a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
                <div class="wh-100x abs-tlr"><img src="images/polular-3-100x100.jpg" alt=""></div>
                <div class="ml-120 min-h-100x">
                    <h5><b>Bitcoin Billionares Hidding in Plain Sight</b></h5>
                    <h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile Palmer,</b></span> Jan 25, 2018</h6>
                </div>
            </a><!-- oflow-hidden -->

            <a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
                <div class="wh-100x abs-tlr"><img src="images/polular-4-100x100.jpg" alt=""></div>
                <div class="ml-120 min-h-100x">
                    <h5><b>Bitcoin Billionares Hidding in Plain Sight</b></h5>
                    <h6 class="color-lite-black pt-10">by <span class="color-black"><b>Danile Palmer,</b></span> Jan 25, 2018</h6>
                </div>
            </a><!-- oflow-hidden -->

        </div><!-- mtb-50 -->*@

        @*<div class="mtb-50 pos-relative">
            <img src="images/banner-1-600x450.jpg" alt="">
            <div class="abs-tblr bg-layer-7 text-center color-white">
                <div class="dplay-tbl">
                    <div class="dplay-tbl-cell">
                        <h4><b>Available for mobile & desktop</b></h4>
                        <a class="mt-15 color-primary link-brdr-btm-primary" href="#"><b>Download for free</b></a>
                    </div><!-- dplay-tbl-cell -->
                </div><!-- dplay-tbl -->
            </div><!-- abs-tblr -->
        </div><!-- mtb-50 -->*@

        @*<div class="mtb-50 mb-md-0">
            <h4 class="p-title"><b>NEWSLETTER</b></h4>
            <p class="mb-20">
                Subscribe to our newsletter to get notification about new updates,
                information, discount, etc..
            </p>
            <form class="nwsltr-primary-1">
                <input type="text" placeholder="Your email" />
                <button type="submit"><i class="ion-ios-paperplane"></i></button>
            </form>
        </div>*@ 

    </div><!--  pl-20 -->
</div><!-- col-md-3 -->