<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Newsbit</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta property="fb:app_id" content="1399098866888978" />
    <meta property="fb:admins" content="103213953175521" />

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,600,700" rel="stylesheet">

    <!-- Stylesheets -->

    <link href="/Assets/plugin-frameworks/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/Areas/Admin/Assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Assets/fonts/ionicons.css" rel="stylesheet">

    <link href="~/Assets/animate.css/animate.min.css" rel="stylesheet" />
    <link href="/Assets/common/styles.css" rel="stylesheet">
    <style>
        .content-container > p {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .PhotoCMS_Caption {
            text-align: center;
        }

        .VCSortableInPreviewMode a {
            display: inline-block;
            margin: auto;
        }
        .highlight {
            color: #F9B500;
        }
    </style>
</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&autoLogAppEvents=1&version=v3.1&appId=1399098866888978';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    @{
        Html.RenderAction("Header", "Common", new { area = "" });
    }

    @RenderSection("topcenter_ad", false)
    @RenderSection("page_header", false)

    <section>
        <div class="container">
            <div class="row">
                @RenderBody()<!-- row -->

                @{
                    Html.RenderAction("RightCol", "Common", new { area = "" });
                }
            </div>
        </div><!-- container -->
    </section>


    @{
        Html.RenderAction("Footer", "Common", new { area = "" });
    }

    <!-- SCIPTS -->

    <script src="/Assets/plugin-frameworks/jquery-3.2.1.min.js"></script>

    <script src="/Assets/plugin-frameworks/tether.min.js"></script>

    <script src="/Assets/plugin-frameworks/bootstrap.js"></script>

    <script src="/Assets/common/scripts.js"></script>

    @RenderSection("scripts", false)

    <script>
        $(function () {
            $('.js-ad').on('click', function (e) {
                e.preventDefault();
                var ad = $(this);
                var link = ad.attr('href');

                $.ajax({
                    url: '/Home/IncreaseClickCount/' + ad.attr('data-id'),
                    type: 'post',
                    success: function (res) {
                        window.location.href = link;
                    }
                });
            });
        });
    </script>
</body>
</html>